# ---------------------------
# Python cache
# ---------------------------
__pycache__/
*.pyc

# ---------------------------
# Environment files
# ---------------------------
.env

# ---------------------------
# VS Code
# ---------------------------
.vscode/

# ---------------------------
# OS files
# ---------------------------
.DS_Store

# ---------------------------
# DATASETS (inside audio_model)
# ---------------------------
audio_model/Data/

# ---------------------------
# Uploaded / temp files
# ---------------------------
uploads/
*.wav
*.mp3

# ---------------------------
# Cache / temp files
# ---------------------------
audio_model/audio_cache.pkl
*.pkl

# ---------------------------
# Model weights (old formats)
# ---------------------------
*.pth
*.h5

# ---------------------------
# Logs
# ---------------------------
*.log

# ---------------------------
# KEEP THIS (IMPORTANT)
# ---------------------------
audio_model/emotion_model_fast/

*.pt
*.pth
emotion_model_fast/
__pycache__/
*.pyc